html { 
	background: url('https://nebula.wsimg.com/60aa3e020eb9107f6e2cf660d8810f35?AccessKeyId=E9ADF683A93968976507&disposition=0&alloworigin=1') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
body{
	padding: 1rem;
	max-width: 500px;
	margin: 4rem auto;
	font-family: "Open Sans", sans-serif;
	background-color: white;
	box-shadow: 5px 10px 10px black;
}
.container-1{
	flex: auto;
}
.reservationbody {
  padding: 1rem;
  max-width: 80%;
  margin: 4rem auto;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  box-shadow: 5px 10px 10px black;
}
h1{
	font-size:25px;
}

select{
	display: block;
}
input{
	margin-bottom: 8px;
	display: block;
}
h2{
	font-size: 15px;
	font-weight: bold;
}
p{
	font-weight: normal;
}


nav {
	border-bottom: 2px solid rgb(22, 23, 23);
	max-width: 100%;
	text-align: center;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: rgb(20, 160, 220);
}


